.Imagen_separador
{
 height: 20px;
 width: 20px;
 background: url("Images/SeparadorMovil.png");
 background-size: 20px 20px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}